<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/layout :: head(title=${'Error'})">
</head>
<body><div th:replace="layout/toolbar"></div><div class="body-inner" th:with="bcs=${ {'Error'} }">
	<div th:replace="layout/header"></div>
	<div th:replace="layout/analytics"></div>
	
	<div th:replace="layout/menu-main"></div>

	<div>

		<div class="container-fluid mtop">
			<div class="layout">
				<div class="ui-panel-wrapper0">
		
					<div th:with="active=${''}, active2=${''}">
						<div th:replace="layout/menu-side"></div>
			         </div>

				</div>
				<div>

					<h1 class="mb-5"><i class="ico-error  icon-warning"></i> Ops! Something Went Wrong!</h1>

					<h4>Sorry, for the inconvenience!<br/> You may want to try again, or try some other time! </h4>

					<a class=""  data-toggle="collapse"  href="#error-details2" role="button" aria-expanded="false"
						aria-controls="error-details2">
					<i class="icon-ellipsis a"></i>
					</a>
					
					<div id="error-details2" class="collapse">
						<span th:text="${exception}"></span>
					</div>

					<div class="mt-5" th:if="${exception!=null}">
						<form method="post" th:action="@{${'/send-error'}}">
							<label class="label-lg mb-3">Send Error Report ?</label>			

							<input type="hidden" name="id" th:value="${id}"></input>
							<input type="hidden" name="app" th:value="${app}"></input>
							<input type="hidden" name="exception" th:value="${exception}"></input>
							<input type="hidden" name="stacktrace" th:value="${stackTrace}"></input>
							<input type="hidden" name="url"  th:value="${requestURL}" ></input>
							<input type="hidden" name="query" th:value="${query}"></input>


							<div class="d-flex justify-person-between">
								<a class="btn btn-secondary" th:href="@{/}"><i class="ico icon-back"></i> No! Back To Site</a>
								<button class="btn btn-secondary"><i class="ico icon-email-send"></i> Yes! Send Error Report</button>
							</div>
							
							<div class="form-group sm mt-2">
								<input class="form-check" type="checkbox" name="contact"></input>
								<label>Received notification email when issue was fixed or address.</label>
							</div>			
							
							
						</form>
					</div>

				</div>
				
				<div></div>
			</div>
		</div>
		
		<div th:replace="layout/footer"></div>
		
	</div>
	

<script>
//<![CDATA[		
$(function() {
	$(".info").popoverx({});
});	
// ]]>	
</script>
</div></body>
</html>

