<div class="footer" xmlns:th="http://www.thymeleaf.org">

	<span><a href="www.einnovator.org"><img style="height:30px" th:src="${links.cdn + '/img/ei/ei-newlogo6-smooth50.png'}"></img>
	 EInnovator Micro-Services Suite &mdash; Sample App</a> </span> 

	<span style="float:right">
	Apache License  &mdash;  Free to Use &amp; Modify  &mdash; 
	 <a href="https://github.com/einnovator/einnovator-sample-movies">Download on GitHub <img style="height:24px;" src="https://avatars1.githubusercontent.com/u/22542670?s=460&amp;v=4"></img></a>
	</span>
	

</div>