<div style="display:none">
<div id="notification-template">
<div id="notification-{{notification.id}}" class="message-block  notification notification-{{notification.id}}" xmlns:th="http://www.thymeleaf.org"  >
	<a id="notification-delete-{{notification.id}}" class="notification-delete" title="Delete Notification"><span class="icon-cross"></span></a>

	<div class="friendship-block">
		<header class="msg_header">
			<div class="user_block default_mod h_48_mod hor_mod msg_mod">
				<div class="user_avatar_w default_mod h_48_mod hor_mod msg_mod ">
					<a th:href="${links.sso + '/user/{{notification.principal.id}}'}"> 
					<img alt="{{notification.principal.name}}" class="user_avatar_img default_mod h_48_mod hor_mod msg_mod" x-src="{{notification.principal.imgUri}}" />
					</a>
				</div>
				<div class="user_msg_hline default_mod h_48_mod hor_mod msg_mod">
					<span>{{notification.person}}</span>
				</div>
			</div>
			<div class="msg_time">
				<span>{{notification.formattedDate}}</span>
			</div>
			<div class="gl_action_block msg_mod">
				<ul class="gl_action_list msg_mod triggers">
				</ul>
			</div>
		</header>
	</div>
</div>
</div>
<div id="notification-template2">
<div id="notification2-{{notification.id}}" class="message-block  notification2 notification-{{notification.id}}" xmlns:th="http://www.thymeleaf.org"  >
	<a id="notification2-delete-{{notification.id}}" class="notification-delete" title="Delete Notification"><span class="icon-cross"></span></a>

	<div class="friendship-block">
		<header class="msg_header">
			<div class="user_block default_mod h_48_mod hor_mod msg_mod">
				<div class="user_avatar_w default_mod h_48_mod hor_mod msg_mod ">
					<a th:href="${links.sso + '/user/{{notification.principal.id}}'}"> 
					<img alt="{{notification.principal.name}}" class="user_avatar_img default_mod h_48_mod hor_mod msg_mod" x-src="{{notification.principal.imgUri}}" />
					</a>
				</div>
				<div class="user_msg_hline default_mod h_48_mod hor_mod msg_mod">
					<div>
						<span>{{notification.person}}</span>
					</div>
					<div class="msg_time" style="margin-left:0;margin-top:4px;padding:0">
						<span>{{notification.formattedDate}}</span>
					</div>
					<div class="gl_action_block msg_mod" style="margin-left:0;margin-top:4px;padding:0">
						<ul class="gl_action_list msg_mod triggers">
						</ul>
					</div>
				</div>
			</div>
			
		</header>
	</div>
</div>
</div>
<div id="trigger-template">
<li class="gl_action_item msg_mod">
	<a class="gl_action_butt msg_mod {{trigger.styleClass}}" title="{{trigger.name}}" href="{{trigger.uri}}" style="color:white !important;font-size:10px;padding:4px">{{trigger.name}}</a>
</li>
</div>
<div id="trigger-template2"> 
<li class="gl_action_item msg_mod" style="padding: 0;padding-right:10px"> 
	<a class="gl_action_butt msg_mod {{trigger.styleClass}}" title="{{trigger.name}}" href="{{trigger.uri}}" style="color:white !important;font-size:10px;padding:4px !important; line-height: 12px;height: 20px">{{trigger.name}}</a>
</li>
</div>
</div>