<div xmlns:th="http://www.thymeleaf.org" class="sm pt-5 pl-3">

	<div class="ribbon">
	  <a href="https://github.com/einnovator/einnovator-sample-movies">Fork me on GitHub</a>
	</div>


	<div class="card mt-5">
		<div class="card-header">
			<h5><i class="fas fa-cloud"></i> EInnovator Cloud</h5>
		</div>
		<div class="card-body">
			<p>
			Register on <b>EInnovator Cloud</b> and start developing today microservices enabled applications.
			</p>

			<p>				
				Deploy and customize out-of-the-box core services to quickly bootstrap development and focus on the specific functionality of your own business apps. 
			</p>
			
			<p>
				Start with <em>Free Sandbox</em> for <u>learning and early development in shared environment</u>. 
			</p>
			
			<p>
				Upgrade by creating your own <em>managed cluster</em> for serious development, testing and production.
			</p>
		
			<a class="btn btn-blue btn-lg mt-3" style="width: 100%;" href="https://cloud.einnovator.org/solution/einnovator-suite"><i class="fas fa-cloud"></i> Get Started</a>
		</div>
	</div>
	

</div>