<div xmlns:th="http://www.thymeleaf.org" class="sm pt-5 pl-3">

	<div class="ribbon">
	  <a href="https://github.com/einnovator/einnovator-sample-movies">Fork me on GitHub</a>
	</div>


	<div class="card mt-5">
		<div class="card-header">
			<h5><img class="img-sm" src="https://cdn.einnovator.org/img/solution/cloud-manager-white200.png"></img> EInnovator Cloud</h5>
		</div>
		<div class="card-body">
			<p class="center bold xlg">
			Microservices<br/><br/>Out-of-the-Box
			</p>		
			<a class="btn btn-blue btn-lg mt-3" style="width: 100%;" href="https://cloud.einnovator.org">Get Started</a>
		</div>
	</div>
	

</div>