<html xmlns:th="http://www.thymeleaf.org" th:with="title=${(movie!=null and movie.id!=null ? 'Edit' : 'New') + ' Movie'}">
<head th:include="layout/layout :: head(title=${title})"></head>
<body th:with="bcs=${ {'Movies', 'Movie', title} }">
	<div th:replace="layout/header"></div>

	<div class="container-fluid">
		<div class="layout2">
			<div>

				<div th:replace="layout/breadcrumbs"></div>
	

				<h1 th:text="${title}"></h1>
					
				<div th:replace="movie/edit-avatar"></div>
		
				<form method="post" name="f" th:action="@{${'/movie'+ (movie.uuid!=null ? '/' + movie.uuid : '')}}" th:object="${movie}" class="form">
					<input type="hidden" name="_method" value="put" th:if="${movie.id!=null}" />
					<input type="hidden" th:if="${movie.id != null}" id="id" name="id" th:value="${movie.id}" />
					<input type="hidden" th:if="${movie.uuid != null}" id="uuid" name="uuid" th:value="${movie.uuid}" />
					<input type="hidden" id="img" name="img" th:value="${movie.img}" />
		
					<div th:replace="movie/edit-details"></div>
		
					<div class="container-footer row">
						<div class="col-2">
							<a class="btn btn-link btn-cancel  "  th:href="@{/movie}"><i class="fas fa-chevron-circle-left"></i> Back</a>
						</div>
						<div class="col-10 text-right">
							<button type="submit" class="btn btn-lg btn-primary"><i class="far fa-check-circle"></i> Submit</button>
						</div>
					</div>
				</form>
			</div>
			<div>
				<div th:replace="layout/panel-right"></div>
			</div>
		</div>
	</div>

		
</body>
<script th:inline="javascript">
//<![CDATA[	
//var movie = JSON.parse([[${movieJson}]]);
var movies = [[${moviesJson}]];
var pid = [[${movie.uuid}]];
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
$(function() {
	$(".phoneCode").country({phoneCode: true});	
	$(".date").datepicker({altFormat: "mm-dd-yy", minDate: new Date(), timepicker: false});
	$(".textarea").editor({});
});
// ]]>	
</script>
</html>
