<div xmlns:th="http://www.thymeleaf.org">

	<div th:class="${'form-group' + (#fields.hasErrors('title')  ? ' has-error has-feedback':'')}">
		<label>Title <sup class="required">*</sup></label>
		<div class="">
			<input type="text" class="form-control focus" th:value="${movie.title}" placeholder="First Name" th:field="*{title}"  />
			<i th:if="${#fields.hasErrors('title')}" class="form-group-feedback"></i>
		</div>
		<p th:if="${#fields.hasErrors('title')}" class="error">
			<span th:each="err : ${#fields.errors('title')}" th:text="${err}" class="error"></span>
		</p>
	</div>

	<div th:class="${'row form-group'}">
		<div class="col-4">
			<label for="genre">Genre</label>
			<select id="genre" class="select" name="genre" th:value="${movie.genre}" >
				<option></option>
				<option th:each="genre : ${T(org.einnovator.sample.movies.model.MovieGenre).values()}" th:value="${genre}" th:text="${genre.displayValue}" th:field="*{genre}"></option>
			</select>
		</div>
		<div class="col-4">
		</div>
	</div>

	<div th:class="${'form-group' + (#fields.hasErrors('year')  ? ' has-error has-feedback':'')}">
		<label>Year</label>
		<div>
			<input type="number" class="form-control focus" min="1900"  placeholder="Year" th:field="*{year}"  />
		</div>
		<p th:if="${#fields.hasErrors('year')}" class="error">
			<span th:each="err : ${#fields.errors('year')}" th:text="${err}" class="error"></span>
		</p>
	</div>

	<div th:class="${'form-group' + (#fields.hasErrors('year')  ? ' has-error has-feedback':'')}">
		<label>Gross Takings Amount ($)</label>
		<div>
			<input type="text" class="form-control focus spinner" placeholder="amount" th:field="*{amount}"  />
		</div>
		<p th:if="${#fields.hasErrors('amount')}" class="error">
			<span th:each="err : ${#fields.errors('amount')}" th:text="${err}" class="error"></span>
		</p>
	</div>

	<div th:class="${'form-group' + (#fields.hasErrors('year')  ? ' has-error has-feedback':'')}">
		<div>
			<input type="checkbox" class="form-check" placeholder="dvd" th:field="*{dvd}"  />
			<label>Is Available On DVD</label>
		</div>
		<p th:if="${#fields.hasErrors('dvd')}" class="error">
			<span th:each="err : ${#fields.errors('dvd')}" th:text="${err}" class="error"></span>
		</p>
	</div>

	<div class="form-group">
		<label for="description">Plot</label>
		<textarea id="description" class="textarea"  name="description" th:text="${movie.description}" rows="6"  title="Movie Summary" placeholder="Movie Summary"></textarea>
	</div>

</div>