<table  id="table" class="table"  xmlns:th="http://www.thymeleaf.org"  th:attr="data-page=${pageJson}">
	<tr>
		<th style="width: 2em"></th>
		<th style="width: 40px"></th>
		<th>Title</th>
		<th>Year</th>
		<th>Genre</th>
		<th>Gross Takings Amount</th>
		<th>Available On DVD</th>
		<th>Plot Summary</th>
		<th th:if="${false}">Dates</th>
		<th style="width: 4em"></th>
	</tr>

	
	<tr th:each="movie: ${movies}">
		<td></td>
		<td>
			<a th:href="${'/movie/'+movie.uuid}">
				<img class="img" th:src="${!#strings.isEmpty(movie.img) ? movie.img : '/img/movie.png'}" />
			</a>		
		</td>
		<td>
			<a th:href="${'/movie/'+movie.uuid}" class="bold"><span class="s" th:text="${movie.title}"></span></a>
		</td>
		<td>
			<span class="status" th:text="${movie.year}"></span>
		</td>
		<td>
			<span class="status" th:if="${movie.genre!=null}" th:text="${movie.genre.displayValue}"></span>
		</td>
		<td>
			<span class="status" th:if="${movie.amount!=null}" th:text="${#numbers.formatDecimal(movie.amount, 1, 'DEFAULT', 2, 'DEFAULT')}"></span> $
			
		</td>
		<td>
			<span class="status" th:if="${movie.dvd!=null}" th:text="${movie.dvd ? 'Yes' : 'No'}"></span>
		</td>
		<td>
			<span class="sm" th:text="${movie.description}"></span>
		</td>
		<td th:if="${false}">
			<span class="fdate" th:text="${#dates.format(movie.creationDate, 'dd MMM yyyy')}"></span>
		</td>
		<td></td>
	</tr>		
	
</table>