.table .img {
	height: 100px;
}

.img {
	height: 200px;
}
.header {
}

.logo-box {
    background: black;
    color: white;
    width: 300px;
    justify-content: center;
}

.header-title {
}

.breadcrumb {
	background-color: inherit;
}

.menu-wrapper {
}

.footer {
	border-top: thin solid black;
	padding: 10px 0px;
	margin: 10px 50px;
}
