<div xmlns:th="http://www.thymeleaf.org">

	<div th:class="${'form-group' + (#fields.hasErrors('name')  ? ' has-error has-feedback':'')}">
		<label>Name <sup class="required">*</sup></label>
		<div class="">
			<input type="text" class="form-control" th:value="${person.name}" placeholder="Name" th:field="*{name}"  />
			<i th:if="${#fields.hasErrors('name')}" class="glyphicon glyphicon-remove form-group-feedback"></i>
		</div>
		<p th:if="${#fields.hasErrors('name')}" class="error">
			<span th:each="err : ${#fields.errors('name')}" th:text="${err}" class="error"></span>
		</p>
	</div>

	<div th:class="${'form-group' + (#fields.hasErrors('surname')  ? ' has-error has-feedback':'')}">
		<label>Surname <sup class="required">*</sup></label>
		<div class="">
			<input type="text" class="form-control" th:value="${person.surname}" placeholder="Surname" th:field="*{surname}"  />
			<i th:if="${#fields.hasErrors('surname')}" class="glyphicon glyphicon-remove form-group-feedback"></i>
		</div>
		<p th:if="${#fields.hasErrors('surname')}" class="error">
			<span th:each="err : ${#fields.errors('surname')}" th:text="${err}" class="error"></span>
		</p>
	</div>


	<div class="form-group">
		<label for="description">About</label>
		<textarea id="description" class="textarea"  name="description" th:text="${person.description}" rows="6"  title="About this Person" placeholder="about"></textarea>
	</div>

</div>