<html xmlns:th="http://www.thymeleaf.org" th:with="title=${'People'}">
<head th:include="layout/layout :: head(title=${title})"></head>
<body th:with="bcs=${ {'People'} }">
	<div th:replace="layout/header"></div>
	
	<div class="container-fluid mt-3">
		<div class="layout2">
			<div>
				<div th:replace="layout/breadcrumbs"></div>
	
				<h1 class="h1"><i class="fas fa-film ico-lg"></i> <span th:text="${title}"></span>  <span class="hbar"></span></h1>
													
	
				<div th:replace="person/person-filter" ></div>
	
				<div th:replace="person/person-table" ></div>

				<div th:replace="layout/pager"></div>			
					
				<div class="container-footer row">
					<div class="col-6">
					</div>
					<div class="col-6 text-right">
						<th:block th:if="${true or _admin}">
							<a class="btn btn-lg btn-primary" th:href="@{${'/person/create'}}" title="Add Person"> <i class="fas fa-plus-circle"></i> Add New Person</a>
						</th:block>
					</div>
				</div>
					

			</div>
			<div>
				<div th:replace="layout/panel-right"></div>				
			</div>
		</div>
	</div>
		
	<div th:replace="layout/footer"></div>			
				

<script>
//<![CDATA[		
$(function() {
})
// ]]>	
</script>
</body>
</html>
