<html xmlns:th="http://www.thymeleaf.org" th:with="title=${'People'}">
<head th:include="layout/layout :: head(title=${title})"></head>
<body th:with="bcs=${ {'People', title} }">
	<div th:replace="layout/header"></div>
	
	<div class="container-fluid">
		<div class="layout2">
			<div>		
			
				<div th:replace="layout/breadcrumbs"></div>
		
	
				<div th:replace="person/show-details"></div>
					
				<th:block th:with="channelId=${person.channelId}">
					<div th:replace="layout/comments"></div>
				</th:block>
					
				<div class="container-footer row">
					<div class="col-sm-6">
						<a class="btn btn-link btn-cancel" th:href="@{${'/person'}}"><i class="fas fa-chevron-circle-left"></i> Back</a>
					</div>
					<div class="col-sm-6 text-right">
						<a class="btn btn-lg btn-primary" th:href="@{${'/person/' + person.uuid + '/edit'}}" title="Edit"> <i class="fas fa-pen"></i> Edit</a>
						<!-- 
						<a class="btn btn-lg btn-primary" th:href="@{${'/person/' + person.uuid + '/person/create'}}" title="Add Person"> <i class="fas fa-plus-circle"></i> Add Person</a>
						 -->
					</div>
				</div>
			</div>	
			<div>
				<div th:replace="layout/panel-right"></div>
			</div>
		</div>
	</div>
		
	<div th:replace="layout/footer"></div>			
	
				

<script>
//<![CDATA[		
$(function() {
	$('.actions').popoverx({});
});	
// ]]>	
</script>
</body>
</html>





