<div xmlns:th="http://www.thymeleaf.org">

	<div class="form-group">
		<img class="img" th:src="${!#strings.isEmpty(person.avatar) ? person.avatar : '/img/person.png'}" />
	</div>
	
	<div class="form-group">
		<label>Name</label>
		<span class="h2 d-block">
			<span th:text="${person.name}" ></span>
			<span th:text="${person.surname}" ></span>
		</span>
	</div>



	<div class="form-group">
		<label for="description">About</label>
		<p id="description" th:text="${person.description}"></p>
	</div>

<!-- 
	<th:block th:if="${!#lists.isEmpty(person.movies)}">
		<h2>Movies</h2>
		
		<table class="table">
			<tr th:each="personmovie : ${person.movies}">
				<td style="width:60px;"><img class="avatar" th:if="${personmovie.movie.img!=null}" th:src="${personmovie.movie.img}"></img></td>
				<td><span th:text="${personmovie.movie.title}"></span></td>
				<td><span th:text="${personmovie.movie.year}"></span></td>
				<td><span th:text="${personmovie.movie.genre}"></span></td>
			</tr>
		</table>
	</th:block>
 -->	

</div>